/* カテゴリーリストのスタイリング */
.category-item {
    background-color: #f5f5f5;
    cursor: grab;
    display: flex;
    flex-direction: row;
    align-items: center;
    word-wrap: break-word;
    padding: 16px;
}

/* リストの最後のアイテムのボーダーを削除 */
#expenseCategoryList .category-item:last-child,
#incomeCategoryList .category-item:last-child {
    border-bottom: none;
}

/* ホバー時のスタイリング */
.category-item:hover {
    background-color: #e0e0e0;
}

/* ドラッグ中のアイテムのスタイリング */
.sortable-ghost {
    opacity: 0.4;
}

/* カテゴリ名とカテゴリ説明のスタイリング */
.category-name,
.category-description {
    padding: 0 8px;
    white-space: normal;
    word-wrap: break-word;
}

/* カテゴリー名のスタイリング */
.category-name {
    font-weight: bold;
    flex-shrink: 0;
    width: 160px;
    overflow: hidden;
}

/* カテゴリー説明のスタイリング */
.category-description {
    font-size: 4px;
    color: #777;
    flex-grow: 1;
}
